{% extends "base/page.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 p-2">

            Caro fornecedor,<br/><br/>
            Recebemos sua inscrição para o programa de fornecimento de uniforme escolar.<br/><br/>

            Você pode consultar e atualizar suas informações clicando nesse <a href="{{ url }}">link</a>.<br/><br/>

            O seu login de acesso é {{ login }} e a sua senha é {{ senha }}.

            <br/>
            <br/>
        </div>
    </div>
{% endblock %}