{% extends "base/page.html" %}
{% block content %}
  <div class="row">
    <div class="col-12 p-2">
      Caro fornecedor,<br/><br/>
      Informamos que existe(m) documento(s) cadastrado(s) próximo do vencimento. Para que o seu cadastro não fique com o
      status de pendente, necessitamos que você anexe o(s) documento(s) atualizado(s) na sua área restrita.<br/><br/>
      <a href="https://portaldeuniformes.sme.prefeitura.sp.gov.br/login">
        Ir para Área restrita
      </a><br/><br/>
        Ao ficar com status de pendente, a sua loja não será apresentada para os estudantes/famílias.<br/>
        Prefeitura da Cidade de São Paulo<br/>
    </div>
  </div>
{% endblock %}