{% extends "base/page.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 p-2">
            <p>Caro fornecedor,</p>
            <p>
                Recebemos sua inscrição sob número de protocolo {{ protocolo }}. <br/>
                A área técnica da Secretaria Municipal de
                Educação analisará o seu cadastro e enviará parecer neste mesmo
                email. <br/>
                Favor aguardar nosso contato.
            </p>
            <p>
                Você pode consultar seu status e atualizar suas informações em:<br/>

                <a href="https://portaldeuniformes.sme.prefeitura.sp.gov.br/login">
                    https://portaldeuniformes.sme.prefeitura.sp.gov.br/login
                </a><br/><br/>
                O seu login e senha de primeiro acesso são:<br/>
                <strong>login:</strong> {{ email }}<br/>
                <strong>senha:</strong> 5 primeiros números do CNPJ<br/><br/>
            </p>
        </div>
    </div>
{% endblock %}