{% extends "base/page.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 p-2">

            <p>Caro fornecedor,</p>
            <p>
                Recebemos o seu pré-cadastro com sucesso. Porém, para se tornar um fornecedor de uniformes da Rede
                Municipal de Ensino é necessário finalizar seu cadastro, completando-o com mais algumas informações
                necessárias.
            </p>
            <p>Para finalizar o seu cadastro, <a href="{{ url_cadastro }}">clique aqui</a>.</p>
            <p>
                Após finalizar o cadastro, você receberá o número de protocolo para identificação da solicitação.
            </p>
            <p>
                Caso você já tenha finalizado o cadastro e já tenha o número de protocolo, favor desconsiderar esse
                e-mail.
            </p>
        </div>
    </div>
{% endblock %}